/* CSSスタイル */
.time-schedule {
    display: flex;
    flex-wrap: wrap;
}

.time-schedule-item {
    display: flex;
    margin-right: 20px; /* アイテム間の間隔を設定 */
    margin-bottom: 10px; /* 下方向の余白を設定 */
}

.time-schedule-item p {
    margin: 0; /* デフォルトの余白をリセット */
}

/* 日時と予定を横並びにするためのスタイル */
.time-schedule-item .time,
.time-schedule-item .schedule {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: 5px; /* アイテム間の余白を設定 */
}
